<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an album to Photoshare</h1>
        </div>
            <form method="post" action="/create">
                <label for="name">Your album name:</label>
                <input type="text" name="name" /><br />
                <input type="submit" value="Create" />
            </form>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
    </body>
<a href="/">Home</a>