<!doctype html>
<head>
    <title>Delete Photos</title>
</head>
<body>
    {% if delete %}
    <h4>Are you sure you want to delete this photo?</h4>
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
    <form action="/delete_photo/{{photo[1]}}/confirm", method='GET'>
        <input type="submit" value="Yes, delete it" /><br />
    <a href='/delete_photo'>No, select another photo</a>
    {% endif %}

    {% if photos %}
    <h1> Which photo do you want to delete? </h1>
    <ul>
    {% for photo in photos %}
        <li><img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>
            <a href="/delete_photo/{{photo[1]}}">Select</a></li>
    {% endfor %}
    </ul>
    {% endif %}
</body>

<br /><a href='/'>Home</a>