<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if albums %}
<h2>Here are your albums</h2>
    <ul>
    {% for album in albums %}
        <li>{{album[1]}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/top_contributors'>Top 10 Contributed Users</a></li>
<li><a href='/browse_photo'>Browse all photos</a></li>
<li><a href='/browse_album'>Browse all albums</a></li>
<li><a href='/create'>Create albums</a></li>
<li><a href='/upload'>Upload photos</a> </li>
<li><a href='/delete_photo'>Delete photos</a></li>
<li><a href='/delete_album'>Delete albums</a></li>
<li><a href='/view_by_tag'>View photos by tags</a></li>
<li><a href='/popular_tag'>The most popular tags</a></li>
<li><a href='/search_tag'>Search photos by tags</a></li>
<li><a href='/search_friend'>Add new friends</a></li>
<li><a href='/friend'>Friends list</a></li>
<li><a href='/recommend_friends'>Friend recommandation</a></li>
<li><a href='/may_like'>Photos you may like</a></li>
<li><a href='/search_comment'>Search comments</a></li>
<li><a href='/login'>Login</a></li>
<li><a href='/register'>Create an account</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
