<head>
    <title>Add your friends!</title>
</head>
    <body>
        <div class="title">
            <h1>Search your friends first!</h1>
        </div>
            <form method="post" action="/search_friend">
                <label for="uid">Enter your friend email:</label>
                <input type="email" name="email" /><br />
                <input type="submit" value="Search" />
            </form>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
    </body>

<a href='/'>home</a>

